*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --bg-color: rgb(42, 41, 41);
    --color: white;
    --bg-info-color: rgb(79,79,79,0.7);

    --blue-card: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,48,255,1) 100%);
    --red-card: linear-gradient(135deg, rgba(137,22,22,1) 0%, rgba(175,14,14,1) 50%, rgba(255,0,0,1) 100%);
    --green-card: linear-gradient(135deg, rgba(12,78,4,1) 0%, rgba(17,121,9,1) 50%, rgba(91,214,32,1) 100%);
    --orange-card: linear-gradient(135deg, rgba(141, 59, 0,1) 0%, rgba(194, 81, 0,1) 50%, rgba(243, 101, 0, 1) 100%);
    --purple-card: linear-gradient(135deg, rgba(62,4,78,1) 0%, rgba(105,9,121,1) 50%, rgba(166,32,214,1) 100%);
}

body{
    background-color: var(--bg-color);
    color: var(--color);
}

.container{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1rem;
}

.cards-container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: 255px;
}

.card-item{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 0.5rem;
    border-radius: 20px;
    position: absolute;
    z-index: 0;
    transform: translateY(-5%) scale(0.5);
    transition: all 0.5s ease-in-out;
    animation: esconder-card 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes esconder-card{
    from{
        transform: translateY(16%);
        width: 100%;
        opacity: 1;
        z-index: 999;
    }to{
        transform: translateY(30%);
        width: 100%;
        opacity: 0;
        z-index: 999;
    }
}

.first-card{
    display: flex;
    width: 100%;
    transform: translateY(16%);
    box-shadow: 0 15px 25px rgb(51, 51, 51);
    z-index: 999;
    transition: all 0.5s ease-in-out;
}

.information-active .first-card{
    transform: translateY(10%) scale(0.91);
}
.information-active .second-card{
    transform: translateY(2%) scale(0.91);
}
.information-active .third-card{
    transform: translateY(-6%) scale(0.91);
}

.second-card{
    display: flex;
    width: 95%;
    transform: translateY(8%);
    z-index: 998;
    transition: all 0.5s ease-in-out;
}

.third-card{
    display: flex;
    width: 90%;
    position: absolute;
    z-index: 997;
    transition: all 0.5s ease-in-out;
    transform: translateY(0);
}

.card-item span{
    display: block;
    background-color: rgb(240,230,140);
    border-radius: 15px;
    width: 55px;
    height: 40px;
    margin: 20px 0;
}

.card-item p{
    font-size: 15px;
}

.information-container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.information-active .information-container{
    transform: translateY(-60%);
    z-index: 999999;
    --bg-info-color: rgb(0,0,0,0.6);
    background-color: rgb(42, 41, 41, 0.5);
    backdrop-filter: blur(3px);
    -webkit-ckdrop-filter: blur(3px);
    box-shadow: 0 -8px 20px rgb(42, 41, 41, 0.2);
}

.active-transactions{
    display: none;
    padding: 7.5px;
    align-items: center;
    justify-content: center;
}

.active-transactions span{
    display: flex;
    width: 65px;
    height: 10px;
    background-color: rgb(255, 255, 255, 0.45);
    border-radius: 20px;
}

.container-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(circle, var(--bg-info-color) 10%, rgb(51, 51, 51));
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    width: 100%;
    height: 55px;
    border-radius: 20px;
    padding: 15px 20px;
    transition: all 1s ease-in-out;
}

.container-control .control-item{
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.analytics{
    display: flex;
    gap: 0.3rem;
    overflow: hidden;
    position: relative;
    animation: surgir 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes surgir{
    from{
        width: 200%;
        gap: 0;
    }to{
        width: 100%;
        gap: 0.3rem;
    }
}

.toggle{
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    width: 100%;
    border-radius: 20px;
    padding: 15px;
}

.limit{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-info-color);
    gap: 0.8rem;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.limit-spent{
    display: flex;
    flex-direction: column;
}

.limit-spent p{
    font-size: 20px;
}

.limit-spent span{
    display: block;
    font-size: 15px;
}

.group-bars{
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
}

.group-bars span{
    display: flex;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(169,169,169);
    position: st;
}

.group-bars .bar{
    width: 60%;
    background-color:rgb(127,255,0);
}

.graphic{
    background-color: rgb(79,79,79,0.7);
    animation: surgir-grafico 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes surgir-grafico{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.information-active .active-transactions{
    display: flex;
}

.information-active .analytics{
    animation: esconder 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes esconder{
    from{
        width: 100%;
        gap: 0.3rem;
    }to{
        width: 200%;
        gap: 0;
    }
}

.information-active .container-control{
    display: none;
}

.information-active .group-bars span{
    position: absolute;
}

.information-active .group-bars .bar{
    z-index: 9999;
}

.information-active .graphic{
    animation: esconde-grafico 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes esconde-grafico{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}
